{
  "extends": [
    "superop",
    "superop/import-resolver-babel",
    "superop/typescript",
    "superop/react",
    "superop/react-native"
  ],
  "rules": {
    "react/jsx-curly-newline": 0,
    "react/jsx-indent": 0
  }
}
